body {
	background-color: #141b3d;
}
#timeline {
/*	left: 502px;
	top: 50px;*/
}
#timeline-rail {
	float: left;
	position: relative;
	/*padding: 38px 33px 0 33px;*/
	font-size: 12px;
	font-family: '微软雅黑',STHeiti;
	/*text-align: center;	*/
	overflow: hidden;
}
#timeline-rail-left {
	position: absolute;
	margin-left: -15px;
	background-repeat: no-repeat;
	background-image: url("../images/timeline-rail-left.png");
}
#timeline-rail-right {
	position: absolute;
	/*margin-left: 900px; /*这个需要根据时间进行自适应*/
	background-repeat: no-repeat;
	background-image: url("../images/timeline-rail-right.png");
}
#timeline-dragger {
	position: absolute;
	/*top: -1px;*/
	left: 0;
	width: 61px;
	height: 13px;
	cursor: pointer;
	text-decoration: none;
	background-image: url("../images/timeline-dragger.png");
}
#timeline-date {
	position: absolute;
	top: -30px;
	left: 12px;
	width: 34px;
	height: 18px;
	text-align: center;
	color: #0a75c7;
	border: 1px solid #40454c;
	background-color: white;
}
#timeline-arrow {
	font-size: 0;
	position: absolute;
	top: -11px;
	left: 25px;
	width: 0;
	border: 5px solid transparent;
	border-top: 5px solid white;	
}
#timeline-scale {
	margin: 0px;
	padding: 0px;
	list-style: none;
    background-repeat: repeat-x;
    background-image: url("../images/timeline-scale.png"); 
}
#timeline-scale li {
	display: inline-block;
	width: 60px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	cursor:pointer;
	color: #FFFFFF;
	text-align: center;
}
#time-player {
/*	position: absolute;
	top: 40px;
	right: 0px;*/
}
#time-player a {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: white;
}
#time-player-prev {
	background-image: url("../images/player-prev.png");
}
#time-player-play {
	background-image: url("../images/player-play.png");
}
#time-player-next {
	background-image: url("../images/player-next.png");
}
#time-player-stop {
	background-image: url("../images/player-stop.png");
}